# Kaloriya Bot Telegram Token (@BotFather dan oling)
TELEGRAM_TOKEN=your_telegram_token_here

# Gemini API Key (Google AI Studio dan oling)
GEMINI_API_KEY=your_gemini_api_key_here

# Admin Telegram ID
ADMIN_ID=your_admin_id_here
